
# this is the "requirements.txt" file...

python-dotenv

pandas

requests

plotly

pytest

# for our web app interface:
flask

# the heroku server wants to use this package to run our web app
gunicorn